<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
      <environmentVariables>
        <environmentVariable name="COMPLUS_ForceENC" value="1" />
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        <environmentVariable name="ASPNETCORE_HOSTINGSTARTUPASSEMBLIES" value="Microsoft.AspNetCore.Watch.BrowserRefresh;Microsoft.WebTools.BrowserLink.Net" />
        <environmentVariable name="DOTNET_STARTUP_HOOKS" value="C:\Program Files\dotnet\SDK\6.0.201\DotnetTools\dotnet-watch\6.0.201-servicing.22124.17\tools\net6.0\any\middleware\Microsoft.AspNetCore.Watch.BrowserRefresh.dll;D:\Program Files\Microsoft Visual Studio\2022\Community\Common7\IDE\Extensions\Microsoft\Web Tools\Browser Link\Microsoft.WebTools.BrowserLink.Net.dll" />
        <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_ENDPOINT" value="wss://localhost:54341/QnABot/,ws://localhost:54342/QnABot/" />
        <environmentVariable name="DOTNET_MODIFIABLE_ASSEMBLIES" value="debug" />
        <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_KEY" value="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA0+gpYF31ab1ms3YwLNwFIcqBTLwDaozBaHgVrN1iGtWfAwQFf4zOtpRzUtQAuzj24aLJBSsv9W8bwYpc+XBphMMSx8CsOVJGMN7WobIamW6VSCsfKOykGzdqs0XTuSGaA4KBGJOMCgy9mX+asGjrV8IYe2JoBqrVO0LclXqtljx/XJ0jktrGDV6WwDq80zhUl90dka9Dc9qoPJKdl5qhzUY0+4V3N0ppeVo7V4wnalkjPC+Xv8MsEG8iXDmvZM1JWKdNoBeewDx2WcNVIgVbqPIbW0KFUHZqKxn1BNEVHMeibxOVxGqL7C34W/L+/2AdtRb07pJey5TVpJm4RAhC/QIDAQAB" />
        <environmentVariable name="ASPNETCORE_AUTO_RELOAD_VDIR" value="/" />
      </environmentVariables>
    </aspNetCore>
  </system.webServer>
</configuration>
<!--ProjectGuid: 011BF8E5-6C91-4D05-A1CB-4AD6637DA400-->